{% extends 'basic.html'%}
{% block mycontent %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>This is About Page</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi maiores minus quas quidem? Accusamus
                architecto deserunt distinctio dolore dolorem eligendi explicabo fugit maiores minima perferendis
                architecto deserunt distinctio dolore dolorem eligendi explicabo fugit maiores minima perferendis
                architecto deserunt distinctio dolore dolorem eligendi explicabo fugit maiores minima perferendis
                architecto deserunt distinctio dolore dolorem eligendi explicabo fugit maiores minima perferendis
                architecto deserunt distinctio dolore dolorem eligendi explicabo fugit maiores minima perferendis
                architecto deserunt distinctio dolore dolorem eligendi explicabo fugit maiores minima perferendis
                architecto deserunt distinctio dolore dolorem eligendi explicabo fugit maiores minima perferendis
                architecto deserunt distinctio dolore dolorem eligendi explicabo fugit maiores minima perferendis
                architecto deserunt distinctio dolore dolorem eligendi explicabo fugit maiores minima perferendis
                architecto deserunt distinctio dolore dolorem eligendi explicabo fugit maiores minima perferendis
                architecto deserunt distinctio dolore dolorem eligendi explicabo fugit maiores minima perferendis
                architecto deserunt distinctio dolore dolorem eligendi explicabo fugit maiores minima perferendis
                architecto deserunt distinctio dolore dolorem eligendi explicabo fugit maiores minima perferendis
                architecto deserunt distinctio dolore dolorem eligendi explicabo fugit maiores minima perferendis
                architecto deserunt distinctio dolore dolorem eligendi explicabo fugit maiores minima perferendis
                architecto deserunt distinctio dolore dolorem eligendi explicabo fugit maiores minima perferendis
                architecto deserunt distinctio dolore dolorem eligendi explicabo fugit maiores minima perferendis
                architecto deserunt distinctio dolore dolorem eligendi explicabo fugit maiores minima perferendis
                architecto deserunt distinctio dolore dolorem eligendi explicabo fugit maiores minima perferendis
                placeat quas qui vel, voluptates.</p>
        </div>
    </div>
</div>
{% endblock %}