{% extends 'dashboard_basic.html'%}
{% block dashboard %}
<div class="container mt-4 ">
    <div class="row">
        <div class="col-md-6 mx-auto bg-light p-3">
            <h1>Get Your Password</h1>
            <hr>
            <form method="post">
                {% csrf_token %}
                {% if msg %}
                <div class="alert {{error}}">{{msg}}</div>
                {% endif %}
                <div class="form-group">
                    <label class="form-label">Current Password</label>
                    <input type="password" name="current_password" class="form-control" required>
                </div>
                <div class="form-group">
                    <label class="form-label">New Password</label>
                    <input type="password" class="form-control" id="pass"
                           onkeyup="check_pass()" name="new_password" required>
                </div>
                <div class="form-group">
                    <label class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="cpass"
                           onkeyup="check_pass()" name="confirm_password" required>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-warning mt-2"
                           id="submitBtn" value="Change Password">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function check_pass(){
            let pass=$('#pass').val();
            let cpass=$('#cpass').val();
            if(pass==cpass){
                $('#pass').css("border","1px solid green");
                $('#cpass').css("border","1px solid green");
                $('#submitBtn').removeAttr('disabled','disabled')
            }else{
                $('#pass').css("border","1px solid red");
                $('#cpass').css("border","1px solid red");
                $('#submitBtn').attr('disabled','disabled')
            }
    }



</script>
{% endblock %}