{% extends 'basic.html'%}
{% block mycontent %}
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto mt-3">
    <div class="card shadow p-5">
      <h2>Get New Password</h2>
      <hr>
      <form action="{% url 'reset_password'%}" method="get">
<!--        {% csrf_token %}-->
        <div class="form-group">
          <label class="form-label">Username</label>
          <input type="text" class="form-control" placeholder="Username" name="un" id="un">
        </div>
        <div class="form-group mt-2">
          <input type="submit" class="btn btn-success" value="Submit" id="subBtn">
        </div>
      </form>
    </div>
    </div>
  </div>
</div>

<script>
  function getUsername(){
  let un=$(#un).val();
  $.ajax({
    url:"{% url 'reset_password' %}",
    type="get",
    data:{usern:un},
    success:function(data){
        alert(data);
      }
    });
  }
</script>

{% endblock %}
